* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --bold: #1b8bcb;
    --bolder: #167db8;
}

.ad-log:hover {
    color: var(--bold) !important;
}

.ad-text {
    color: var(--bold) !important;
}

.ad-black {
    color: rgba(27, 27, 27, 0.74);
}